body{
  width: 100%;
  font-family: 'Varela Round', sans-serif;
  font size: 13px;
}

.wrapper{
  margin: 0 auto;
  width: 80%;
}

/*HEADER STYLES*/
.header-container{
  background-image: url(hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -288px;
  /*opacity: 1;*/
  width: 100%;
  height: 400px;
  position: relative;
}

.overlay{
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
}

.logo-container{
  position: relative;
  display: inline;
}

.logo-container img{
  width: 4%;
  display: inline-block;
  margin-top: 27px;
}

.logo-container p{
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
  margin-top: -19px;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
}

.search-container{
  display: inline;
  float: right;
  margin-top: 1%;
}

.search-container a{
  text-decoration: none;
  font-size: 14px;
  color: black;
  padding-right: 14px;
}


.main-header{
  clear: both;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.main-header p:first-child{
  font-size: 5em;
  font-weight: bold;
  color: white;
  font-family: 'Bad Script', cursive;
}

.main-header p:last-child{
  font-size: 12px;
  margin-top: -118px;
  color: white;
}

.search-container a img{
  height: 15px;
  width: 15px;
}

/*.overlay{
  background-color: #549431;
  height: 400px;
  opacity: 0.2;
}*/

/*CONTENT STYLES*/
.content-container{
  /*background-color: grey;*/
  width: 100%;
}

/*ASIDE STYLES*/
.aside-container{
  /*background-color: lightyellow;*/
  width: 65%;
  float: left;
}

.aside-container h2{
  font-size: 3em;
  text-transform: uppercase;
  /*color: #146667;*/
}

.author-container{
  margin-top: -44px;
}
.author-container div{
  height: 22px;
width: 24px;
background-size: 100%;
border-radius: 40px;
display: inline-block;
background-image: url(profile.jpg);
background-position-y: -4px;
}

.author-container p{
  display: inline-block;;
  font-size: 12px;
  vertical-align: super;
}

.author-name{
  color: #146667;
}

.underline span{
  text-decoration: underline;
}

.first-paragraph{
  margin-top: 32px;
}
.big-text{
  border-left: #146667 solid 1px;
  padding: 10px;
  margin-left: 15px;
  font-size: 23px;
  text-transform: uppercase;
  font-weight: bold;
  color: #146667;
}

.aside-footer{
  height: 200px;
  width: 100%;
}

.comment-container{
  width: 22%;
  height: 29px;
  background-color: lightgrey;
  display:inline-block;
}

.icon{
  width: 25%;
  height: 29px;
  background-color: grey;
}

.read-container{
  display: inline-block;
  height: 29px;
  width: 22%;
  background-color: black;
}

.share-container{
  display: inline-block;
  height: 29px;
  width: 22%;
  background-color: black;
}

/*SECTION STYLES*/
.section-container{
  /*background-color: lightyellow;*/
  width: 35%;
  float:right;
}

.profile-container{
  text-align: center;
  margin-top: 59px;
  position: relative;
}
.overlay-profile{
  border-radius: 100%;
  width: 74px;
  height: 74px;
  position: absolute;
}
.profile-picture{
  /*background-color: lightgrey;*/
  background-image: url(profile.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -9px;
  border-radius: 100px;
  width: 74px;
  height: 74px;
  margin-bottom: 7px;
  margin: 0 auto;
  position: relative;
}

.profile-name{
  text-transform: uppercase;
  margin-bottom: 1px;
  color: #146667;
}

.facebook{
  border-right: 1px grey solid;
  display: inline;
  padding-left: 7px;
}

.instagram{
  display: inline;
  padding-left: 7px;
}
.sidebar{
  text-emphasis: center;
  text-align: center;
  margin-top: 33px;
  margin-left: -60px;

}
.sidebar-img{
  height: 337px;
  width: 295px;
  background-color: lightgreen;
  text-align: center;
  margin-left: 65px;
  /*background-image: url(Conan_Paddle.png);*/
}

.about-ad{
  font-size: 12px;
text-decoration: underline;
margin-top: -5px;
margin-right: -283px;
}

.sidebar-para{
  text-decoration: none;
  text-align: left;
margin-top: -9px;
/* margin-right: -223px; */
padding-left: 106px;
font-size: 14px;
}

h3{
  margin-left: 28px;
margin-top: 41px;
color: #146667;
text-transform: uppercase;
}

.clear{
  clear:both;
}

h5{
  text-align: center;
    font-size: 46px;
    text-transform: uppercase;
    color: #146667;
}

.footer-pic-one{
  display: inline-block;
  width: 25%;
  background-color: green;
  margin-right: -4px;
  height: 400px;
  background-image: url(IMG_0937.jpg);
  background-size: 224%;
    background-position-x: -97px;
    background-repeat: no-repeat;
    background-position-y: -75px;
}

.footer-pic-two{
  display: inline-block;
  width: 25%;
  background-color: green;
  margin-right: -4px;
  height: 400px;
  background-image: url(ITWL8228.jpg);
  background-size: 150%;
    background-position-x: -97px;
    background-repeat: no-repeat;
    background-position-y: -184px;
}

.footer-pic-three{
  display: inline-block;
  width: 25%;
  background-color: green;
  margin-right: -4px;
  height: 400px;
  background-image: url(conan.png);
  background-size: 119%;
background-position-x: -46px;
background-repeat: no-repeat;
background-position-y: -1px;
}

.footer-pic-four{
  display: inline-block;
  width: 25%;
  background-color: green;
  margin-right: -4px;
  height: 400px;
  background-image: url(conan_running.png);
  background-size: 119%;
background-position-x: -65px;
background-repeat: no-repeat;
background-position-y: -4px;
}
